.project {
  position: relative;
  background: #ddd;
  overflow: hidden;
  min-height: 300px;
  border-radius: 10px;
}
.project img {
  object-fit: cover;
  height: 100%;
  transition: all 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: #0037ffd7;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  transition: all 0.5s;
}

.project:hover .layer {
  height: 100%;
}

.project:hover img {
  transform: scale(1.2);
}

.text-justify{
  text-align: justify;
}